circle {
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
}

.solar-system-button {
    width: 45%;
    height: 64px;
    background-color: #8b95a5;
    margin: 0 auto;
    color: white;
    font-size: 14px;
    border-radius: 3px;

    &:hover {
        background-color: #B6BCC6;
        cursor: pointer;
    }
}

.solar-systems-manager {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.solar-systems-list {
    width: 20%;
    margin-right: 30px;
    height: 80%;
    display: flex;
    flex-direction: column;
}

.system-list-element {
    width: 100%;
    height: 20px;
    border: 1px solid black;
    cursor: pointer;
    background-color: white;
    &.selected {
        box-shadow: 0 0 2px gray inset;
        background-color: lightgray;
    }
    &:hover {
        box-shadow: 0 0 2px gray inset;
        background-color: lightgray;
    }
}

.solar-system {
    border: 1px solid red;
    width: 600px;
    height: 600px;
}


.orbit-circle {
    position: absolute;
    fill: none;
    stroke: #000;
}

.orbit {
    position: absolute;
    overflow: visible;
}

.modal {
    position: absolute;
    width: 200px;
    height: 100px;
    background-color: white;
}