.solar-systems-manager {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

.solar-systems-list {
    width: 200px;
    height: 800px;
    border: 1px solid red;
}

.solar-system {
    width: 600px;
    height: 800px;
    border: 1px solid red;
}