circle {
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
}

.dropdown-frame {
    width: 100%;
    position: relative;
    display: inline-block;
}

.show {
    display:block !important;
}

.dropdown-content {
    display: none;
    //position: absolute;
    overflow:auto;
    width: 100%;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

    &:hover {
            background-color: #B6BCC6;
            cursor: pointer;
    }
}

.border {
    box-shadow: 0 0 4px black inset;
}


.solar-system-button, .planet-button {
    display: block;
    width: 100%;
    height: 24px;
    background-color: #8b95a5;
    margin: 0 auto;
    color: white;
    font-size: 14px;
    border: 0;

    &:hover {
        background-color: #B6BCC6;
        cursor: pointer;
    }

    &.selected {
        box-shadow: 0 0 2px gray inset;
        background-color: #B6BCC6;
    }
}

.solar-systems-manager {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.solar-systems-list {
    width: 20%;
    margin-right: 30px;
    height: 80%;
    display: flex;
    flex-direction: column;
}

.solar-system {
    width: 600px;
    height: 600px;
}


.orbit-circle {
    position: absolute;
    fill: none;
    stroke: #000;
}

.orbit {
    position: absolute;
    overflow: visible;
}

.modal {
    position: absolute;
    width: 200px;
    height: 100px;
    background-color: white;
}