* {
  margin: 0
}

.App {
  text-align: center;
  background-color: #282c34;
  height: 100vh !important;
}

.instructions {
  padding-top: 24px;
  color: white;
}

canvas {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
}

.orchestrator {
  width: 420px;
  margin: 0 auto;
}

.paths {
  height: 360px;
  overflow: scroll;
  background-color: lightsteelblue;
  border-radius: 3px;
  width: 70%;
  margin: 0 auto;
}

.controls {
  margin: 42px;
  color: white;
  font-weight: bold;
}

.current-note {
  opacity: 1;
  background-color: lightblue;
  transition: opacity 0.5s ease-in;
}
.btn-container {
  padding: 24px 0;
}

.btn-sequence {
  color: white;
  cursor: pointer;
  background-color: teal;
  margin: 8px;
  border-radius: 4px;
  width: 140px;
  height: 40px;
  opacity:0.8;
}

.btn-sequence:hover {
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.flex-element {
  display: flex;
}

.flex-container-row {
  display: flex;
  flex-direction: row;
}

.flex-container-column {
  display: flex;
  flex-direction: row;
}

.text-center {
  color: white;
  text-align: center;
}


.lds-dual-ring {
  margin-top: 24px;
  display: inline-block;
  width: 64px;
  height: 64px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.dropdown {
  width: 100%;
  height: 0;
  background-color: grey;
  position: absolute;
  top: 0;
  z-index: 100;
}

.toggler {

  display: block;
  height: 3px;
  width: 40px;
  margin: 10px 10px 10px auto;
  background-color: #fff;
}